footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    background-color: #f0f0f0; 
    padding: 20px; 
    text-align: center; 
  }
  
  .logo {
    display: block; 
    margin-right: 20px; 
  }
  
  .center {
    display: inline-block; 
    font-size: 8px;
  }
  
  /* Media query para pantallas pequeñas */
  @media only screen and (max-width: 768px) {
    .footer {
      padding: 10px; 
    }
  
    .logo {
      display: block; 
      margin: 0 auto 10px; 
    }
  
    .center {
      display: block; 
    }
  }
