@import '@styles/global.css';

header{
	top: 0px;
	background-color: var(--green);
	display: flex;
	justify-content: space-between;
	padding: 0 24px;
}

.logo{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 7px;
  margin-bottom: 7px;
  max-height: 80px; 
  border-radius: 50%; 
}


.navbar-left ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	/* height: 60px; */
}
.navbar-left {
	display: flex;
  justify-content: space-between;
}
.navbar-left ul {
	margin-left: 12px;
}
.navbar-left ul li a{
	text-decoration: none;
	color: var(--grey);
	margin-left: 5px;
	padding: 8px;
	border-radius: 8px;
}
.navbar-left ul li a:hover{
	border: 1px solid var(--strong-green);
	color: var(--strong-green);
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
  padding: 20px; 
  margin-bottom: 20px;
  width: 95%; 
  border-radius: 10px;
} */
  
  /* .logo {
    margin-left: 30px; 
  }
  
  .logo img {
    max-height: 80px; 
    border-radius: 50%; 
  } */
  
  /* .center {
    flex-grow: 1;
    text-align: center;
  }
  
  .center a {
    margin: 0 20px; 
    font-size: 18px; 
    font-weight: bold;
    font-family: "Arial", sans-serif;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .center a:hover {
    color: var(--strong-green); 
  }
  
  .login {
    margin-right: 40px; 
  } */
  
  /* Media query para pantallas pequeñas */
  @media only screen and (max-width: 768px) {
    .logo {
      margin-left: 20px; 
    }
  
    .center a {
      margin: 0 10px; 
      font-size: 16px; 
    }
  
    .login {
      margin-right: 20px; 
    }
  }